<div class="custom-colleage-section">
  <div class="custom-colleage-section-main">
    <div class="custom-colleage-section-wrap">
      <div class="">
        <h1 class="">SHOP BY OCCASIONS</h1>
        <a class="" href="">VIEW ALL</a>
      </div>
      <div class="">
        <div class="">
          {% for block in section.blocks %}
            <div class="">
              <a href="">
                <div class="" style="">
                  <div class="" style="">
                    <img src="" class="" alt="" />
                  </div>
                </div>
                <div class="">
                  <label class="">ENGAGEMENT</label>
                  <label class="">SHOP NOW</label>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Custom Colleage Section",
  "settings": [],
  "blocks": [
    {
      "type": "image_block",
      "name":"Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "img"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Colleage Section"
    }
  ]
}
{% endschema %}
