<div class="custom-colleage-section">
  <div class="custom-colleage-section-main">
    <div class="custom-colleage-section-wrap">
      <div class="">
        <h1 class="">SHOP BY OCCASIONS</h1>
        <a class="" href="">VIEW ALL</a>
      </div>
      <div class="">
        <div class="flex GridSection xs12 sm8">
          <div class="prel Gutter">
            <a href="/occasions/engagement?utm_source=Homepage&amp;utm_medium=Shop-By-Occasion&amp;utm_campaign=Engagement">
              <div class="DynamicHeightLoaderWrapper" style="padding-top: 65%;">
                <div class="DynamicHeightLoader layout row align-center justify-center" style="padding-top: 65%;">
                  <img src="" class="" alt="" />
                </div>
              </div>
              <div class="ImageTextDetail CategoryImageTextDetail">
                <label class="h4 ImageTextLabelTop m-t-5 demi-bold">ENGAGEMENT</label>
                <label class="h6 ellipsis block font-normal ImageTextLabelBottom">SHOP NOW</label>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Custom Colleage Section",
  "settings": [],
  "presets": [
    {
      "name": "Custom Colleage Section"
    }
  ]
}
{% endschema %}
