<div>
  <div class="BreakPointContainer">
    <div class="GridSectionContainer">
      <div class="layout row justify-space-between align-center SectionTitle">
        <h1 class="m-t-0 m-b-0 demi-bold">SHOP BY OCCASIONS</h1>
        <a class="ViewAllUrlsLink pernia-color-hover h5 demi-bold" href="/occasions/wedding">VIEW ALL</a>
      </div>
      <div class="grid-1 layout row wrap align-start">
        <div class="flex GridSection xs12 sm8">
          <div class="prel Gutter">
            <a href="/occasions/engagement?utm_source=Homepage&amp;utm_medium=Shop-By-Occasion&amp;utm_campaign=Engagement">
              <div class="DynamicHeightLoaderWrapper" style="padding-top: 65%;">
                <div class="DynamicHeightLoader layout row align-center justify-center" style="padding-top: 65%;">
                  <img
                    src="https://img.perniaspopupshop.com/HOMEPAGE_IMAGES/02_Aug_24/ENG_SBO_020824_D.jpg"
                    class="img-resp DynamicHeightLoaderImage"
                    alt="ENGAGEMENT-SHOP BY OCCASIONS"
                  >
                </div>
                <div class="animated-bg-placeholder"></div>
              </div>
              <div class="image-gradient"></div>
              <div class="ImageTextDetail CategoryImageTextDetail">
                <label class="h4 ImageTextLabelTop m-t-5 demi-bold">ENGAGEMENT</label
                ><label class="h6 ellipsis block font-normal ImageTextLabelBottom">SHOP NOW</label>
              </div>
            </a>
          </div>
        </div>
        <div class="flex GridSection xs6 sm4">
          <div class="prel Gutter">
            <a href="/occasions/sangeet?utm_source=Homepage&amp;utm_medium=Shop-By-Occasion&amp;utm_campaign=Sangeet">
              <div class="DynamicHeightLoaderWrapper" style="padding-top: 132%;">
                <div class="DynamicHeightLoader layout row align-center justify-center" style="padding-top: 132%;">
                  <img
                    src="https://img.perniaspopupshop.com/HOMEPAGE_IMAGES/02_Aug_24/SNG_SBO_020824_D.jpg"
                    class="img-resp DynamicHeightLoaderImage"
                    alt="SANGEET-SHOP BY OCCASIONS"
                  >
                </div>
                <div class="animated-bg-placeholder"></div>
              </div>
              <div class="image-gradient"></div>
              <div class="ImageTextDetail CategoryImageTextDetail">
                <label class="h4 ImageTextLabelTop m-t-5 demi-bold">SANGEET</label
                ><label class="h6 ellipsis block font-normal ImageTextLabelBottom">SHOP NOW</label>
              </div>
            </a>
          </div>
        </div>
        <div class="flex GridSection xs6 sm4">
          <div class="prel Gutter">
            <a href="/occasions/mehendi-haldi?utm_source=homepage&amp;utm_medium=shop-by-occasion&amp;utm_campaign=mehendi-haldi">
              <div class="DynamicHeightLoaderWrapper" style="padding-top: 132%;">
                <div class="DynamicHeightLoader layout row align-center justify-center" style="padding-top: 132%;">
                  <img
                    src="https://img.perniaspopupshop.com/HOMEPAGE_IMAGES/03_Aug_24/Mehendi_&amp;_Haldi_SHOP_BY_OCCASIONS-DESKTOP__0003_Masaba_Day2_3328.jpg"
                    class="img-resp DynamicHeightLoaderImage"
                    alt="HALDI &amp; MEHENDI-SHOP BY OCCASIONS"
                  >
                </div>
                <div class="animated-bg-placeholder"></div>
              </div>
              <div class="image-gradient"></div>
              <div class="ImageTextDetail CategoryImageTextDetail">
                <label class="h4 ImageTextLabelTop m-t-5 demi-bold">HALDI &amp; MEHENDI</label
                ><label class="h6 ellipsis block font-normal ImageTextLabelBottom">SHOP NOW</label>
              </div>
            </a>
          </div>
        </div>
        <div class="flex GridSection xs6 sm4">
          <div class="prel Gutter">
            <a href="/occasions/bridal?utm_source=Homepage&amp;utm_medium=Shop-By-Occasion&amp;utm_campaign=pheras">
              <div class="DynamicHeightLoaderWrapper" style="padding-top: 132%;">
                <div class="DynamicHeightLoader layout row align-center justify-center" style="padding-top: 132%;">
                  <img
                    src="https://img.perniaspopupshop.com/HOMEPAGE_IMAGES/02_Aug_24/PHER_SBO_020824_D.jpg"
                    class="img-resp DynamicHeightLoaderImage"
                    alt="PHERAS-SHOP BY OCCASIONS"
                  >
                </div>
                <div class="animated-bg-placeholder"></div>
              </div>
              <div class="image-gradient"></div>
              <div class="ImageTextDetail CategoryImageTextDetail">
                <label class="h4 ImageTextLabelTop m-t-5 demi-bold">PHERAS</label
                ><label class="h6 ellipsis block font-normal ImageTextLabelBottom">SHOP NOW</label>
              </div>
            </a>
          </div>
        </div>
        <div class="flex GridSection xs6 sm4">
          <div class="prel Gutter">
            <a href="/occasions/reception?utm_source=Homepage&amp;utm_medium=Shop-By-Occasion&amp;utm_campaign=reception">
              <div class="DynamicHeightLoaderWrapper" style="padding-top: 132%;">
                <div class="DynamicHeightLoader layout row align-center justify-center" style="padding-top: 132%;">
                  <img
                    src="https://img.perniaspopupshop.com/HOMEPAGE_IMAGES/02_Aug_24/REC_SBO_020824_D.jpg"
                    class="img-resp DynamicHeightLoaderImage"
                    alt="RECEPTION-SHOP BY OCCASIONS"
                  >
                </div>
                <div class="animated-bg-placeholder"></div>
              </div>
              <div class="image-gradient"></div>
              <div class="ImageTextDetail CategoryImageTextDetail">
                <label class="h4 ImageTextLabelTop m-t-5 demi-bold">RECEPTION</label
                ><label class="h6 ellipsis block font-normal ImageTextLabelBottom">SHOP NOW</label>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Custom Colleage Section",
  "settings": [],
  "presets": [
    {
      "name": "Custom Colleage Section"
    }
  ]
}
{% endschema %}
