<style>
  .landing__hero-wrap {
    position: relative;
}
  .landing-hero__content {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
}
  a.landing-hero__cta {
    background: transparent;
}
</style>
<div class="landing__hero-main">
  <div class="landing__hero-wrap" style="">
    <a
      href=""
      aria-labelledby=""
      class="landing-hero__container relative block w-full z-[0]"
    >
      <img
        alt=""
        srcset="{{ section.settings.image | img_url:'' }}"
        loading="lazy"
        class="w-full"
        style="width: 100%;"
      >

      <img
        alt=""
        srcset="{{ section.settings.image | img_url:'' }}"
        loading="lazy"
        class="w-full"
        style="width: 100%;"
      >
    </a>

    <div
      class="landing-hero__content"
      style=""
    >
      <div class="landing-hero__text">
        <h2
          class="landing-hero__title"
          id=""
        >
          Lorem Ipsum is simply dummy text.
        </h2>

        <h3 class="landing-hero__subtitle">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
        </h3>
      </div>
      <div class="landing-hero__buttons">
        <a
          href=""
          class="landing-hero__cta button button--secondary"
          >SHOP NOW</a
        >

        <a
          href=""
          class="landing-hero__cta button button--secondary"
          >EXPLORE NOW</a
        >
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Landing Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_for_desktop",
      "label": "Image for Desktop"
    },
    {
      "type": "image_picker",
      "id": "image_for_mobile",
      "label": "Image for Mobile"
    }
  ],
  "presets": [
    {
      "name": "Landing Hero"
    }
  ]
}
{% endschema %}
