<div class="landing__hero relative px-0 mt-0 mb-0 " style="--bg-color: #000000; --bg-color-desktop:#000000;">
  <a
    href="/collections/kith-for-birkenstock-london-braided-summer-2024"
    aria-labelledby="landing-hero-title-template--19370575429760__landing_hero_FtkrHE"
    class="landing-hero__container relative block w-full z-[0]"
  >
    <picture class="lazypicture block w-full " style="--ar-lzimg-mobile: 0.5622857142857143; --ar-lzimg-tabletp: 2.0;">
      <source
        srcset="//kith.com/cdn/shop/files/Homepage-Desktop_d62cc435-c2e8-4e7c-bbbc-8b0030f2747e.jpg?v=1720792751&amp;width=300 300w, //kith.com/cdn/shop/files/Homepage-Desktop_d62cc435-c2e8-4e7c-bbbc-8b0030f2747e.jpg?v=1720792751&amp;width=600 600w, //kith.com/cdn/shop/files/Homepage-Desktop_d62cc435-c2e8-4e7c-bbbc-8b0030f2747e.jpg?v=1720792751&amp;width=750 750w, //kith.com/cdn/shop/files/Homepage-Desktop_d62cc435-c2e8-4e7c-bbbc-8b0030f2747e.jpg?v=1720792751&amp;width=1024 1024w, //kith.com/cdn/shop/files/Homepage-Desktop_d62cc435-c2e8-4e7c-bbbc-8b0030f2747e.jpg?v=1720792751&amp;width=1280 1280w, //kith.com/cdn/shop/files/Homepage-Desktop_d62cc435-c2e8-4e7c-bbbc-8b0030f2747e.jpg?v=1720792751&amp;width=1440 1440w, //kith.com/cdn/shop/files/Homepage-Desktop_d62cc435-c2e8-4e7c-bbbc-8b0030f2747e.jpg?v=1720792751&amp;width=1920 1920w"
        media="(min-width:48rem)"
      >

      <img
        src="{{ section.settings.image | img_url:'' }}"
        alt=""
        srcset="{{ section.settings.image | img_url:'' }}"
        loading="lazy"
        class="w-full "
      >
    </picture>
  </a>

  <div
    class="landing-hero__content absolute top-0 left-0 w-full h-full p-sm flex flex flex-col gap-sm pointer-events-none tabletp:flex-row "
    style=""
  >
    <div class="landing-hero__text tabletp:flex-1">
      <h1
        class="landing-hero__title text-38 pointer-events-auto"
        id="landing-hero-title-template--19370575429760__landing_hero_FtkrHE"
      >
        Kith for Birkenstock London Braided Summer 2024
      </h1>

      <h2 class="landing-hero__subtitle text-16 mt-sm pointer-events-auto">
        Our exclusive collaboration with Birkenstock returns in two all-new pastel colorways.
      </h2>
    </div>
    <div class="landing-hero__buttons flex gap-sm tabletp:flex-1 tabletp:justify-end">
      <a
        href="/collections/kith-for-birkenstock-london-braided-summer-2024"
        class="landing-hero__cta pointer-events-auto btn btn--outline-white"
        >SHOP NOW</a
      >

      <a
        href="/blogs/kith/the-london-braided-by-kith-for-birkenstock"
        class="landing-hero__cta pointer-events-auto btn btn--outline-white"
        >EXPLORE NOW</a
      >
    </div>
  </div>
</div>
{% schema %}
{
  "name": "landing-hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "landing-hero"
    }
  ]
}
{% endschema %}
