<style>
  video.landing-hero-video__video {
    width: 100%;
}
  .landing__hero-video-wrap {
    position: relative;
}
  .landing-hero-video__content {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}
</style>
<div class="landing__hero-video-wrap" data-section-type="hero--video">
  <a
    href=""
    class="landing-hero-video__container"
    style=""
    aria-labelledby=""
  >
    <video
      src="https://cdn.shopify.com/videos/c/o/v/0848f104e0a146efbf70e5d987a0bf0c.mp4"
      class="landing-hero-video__video"
      autoplay=""
      muted=""
      loop=""
      playsinline=""
      js-video=""
    ></video>

 
  </a>

  <div
    class="landing-hero-video__content"
  >
    <div class="landing-hero-video__text">
      <h2
        id=""
        class="landing-hero-video__title"
      >
       Lorem Ipsum is simply dummy text.
      </h2>

      <h3 class="landing-hero-video__subtitle">
       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
      </h3>
    </div>
    <div class="landing-hero-video__buttons">
      <a
        href=""
        class="landing-hero-video__cta button button--secondary"
        >VIEW THE BLOG</a
      >

      <!-- <button
        class="landing-hero-video__mute-button"
        style="--color: #ffffff;"
        js-button=""
      >
        <svg class="icon icon-mute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
          <title>Speaker Icon, crossed out when muted</title>
          <path class="icon-mute-speaker" d="M19.51,0l-10,6.45H2.66V18.56H9.53l10,6.44ZM18.09,22.42l-7.64-4.93v-10l7.64-4.92ZM9,17.14h-5V7.86H9Z"></path>
          <path class="icon-mute-bar" d="M24,25l1-1L1,0,0,1Z"></path>
        </svg>
      </button> -->
    </div>
  </div>
</div>
{% schema %}
{
  "name": "landing-hero-video",
  "settings": [],
  "presets": [{
    "name": "landing-hero-video"
  }]
}
{% endschema %}
