<div class="landing__hero" style="">
  <a
    href=""
    aria-labelledby=""
    class="landing-hero__container relative block w-full z-[0]"
  >
   

      <img
        src="{{ section.settings.image | img_url:'' }}"
        alt=""
        srcset="{{ section.settings.image | img_url:'' }}"
        loading="lazy"
        class="w-full">
    
  </a>

  <div
    class="landing-hero__content absolute top-0 left-0 w-full h-full p-sm flex flex flex-col gap-sm pointer-events-none tabletp:flex-row "
    style=""
  >
    <div class="landing-hero__text tabletp:flex-1">
      <h1
        class="landing-hero__title text-38 pointer-events-auto"
        id="landing-hero-title-template--19370575429760__landing_hero_FtkrHE"
      >
        Kith for Birkenstock London Braided Summer 2024
      </h1>

      <h2 class="landing-hero__subtitle text-16 mt-sm pointer-events-auto">
        Our exclusive collaboration with Birkenstock returns in two all-new pastel colorways.
      </h2>
    </div>
    <div class="landing-hero__buttons flex gap-sm tabletp:flex-1 tabletp:justify-end">
      <a
        href="/collections/kith-for-birkenstock-london-braided-summer-2024"
        class="landing-hero__cta pointer-events-auto btn btn--outline-white"
        >SHOP NOW</a
      >

      <a
        href="/blogs/kith/the-london-braided-by-kith-for-birkenstock"
        class="landing-hero__cta pointer-events-auto btn btn--outline-white"
        >EXPLORE NOW</a
      >
    </div>
  </div>
</div>
{% schema %}
{
  "name": "landing-hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "landing-hero"
    }
  ]
}
{% endschema %}
