<div class="landing__hero relative px-0 mt-0 mb-0 " data-section-type="hero--video">
  <a
    href="https://kith.com/blogs/kith/kith-for-houseplant-featuring-seth-rogen"
    class="landing-hero__container landing-hero__container--video relative block w-full text-0 z-[0]"
    style="--mobile-ar: 3/5; --desktop-ar: 16/9;"
    aria-labelledby="landing-hero-title--template--19370575429760__landing_hero_video_C8DTBP"
  >
    <video
      src="https://cdn.shopify.com/videos/c/o/v/0848f104e0a146efbf70e5d987a0bf0c.mp4"
      class="landing-hero__video w-full h-full object-cover"
      autoplay=""
      muted=""
      loop=""
      playsinline=""
      js-video=""
    ></video>

    <div
      class="landing-hero__gradient absolute top-0 left-0 w-full h-full pointer-events-none tabletp:hidden"
      style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 25%) 0%, rgba(0, 0, 0, 0) 40%)"
    ></div>

    <div
      class="landing-hero__gradient absolute top-0 left-0 w-full h-full pointer-events-none hidden tabletp:block"
      style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 25%) 0%, rgba(0, 0, 0, 0) 40%)"
    ></div>

    <div
      class="landing-hero__gradient absolute top-0 left-0 w-full h-full pointer-events-none tabletp:hidden"
      style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 25%) 0%, rgba(0, 0, 0, 0) 40%)"
    ></div>

    <div
      class="landing-hero__gradient absolute top-0 left-0 w-full h-full pointer-events-none hidden tabletp:block"
      style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 25%) 0%, rgba(0, 0, 0, 0) 40%)"
    ></div>
  </a>

  <div
    class="landing-hero__content absolute top-0 left-0 w-full h-full p-sm flex flex flex-col gap-sm pointer-events-none tabletp:flex-row "
    style="
      --color: #ffffff;
      --color-desktop:#ffffff;
      --text-align: center;
      --text-align-desktop:left;

        --align: center;

      --align-desktop: flex-end;
      --justify: flex-end;
    "
  >
    <div class="landing-hero__text tabletp:flex-1">
      <h1
        id="landing-hero-title--template--19370575429760__landing_hero_video_C8DTBP"
        class="landing-hero__title text-38 pointer-events-auto"
      >
        Kith for Houseplant featuring Seth Rogen
      </h1>

      <h2 class="landing-hero__subtitle text-16 mt-sm pointer-events-auto">
        Kith partners with actor and comedian Seth Rogen’s lifestyle cannabis company, Houseplant, to present a
        collection of thoughtfully crafted homeware in Kith-exclusive hues.
      </h2>
    </div>
    <div class="landing-hero__buttons flex flex-wrap gap-sm tabletp:flex-1 tabletp:justify-end">
      <a
        href="https://kith.com/blogs/kith/kith-for-houseplant-featuring-seth-rogen"
        class="landing-hero__cta pointer-events-auto btn btn--outline-white"
        >VIEW THE BLOG</a
      >

      <button
        class="landing-hero__mute-button block p-sm bg-transparent border-0 pointer-events-auto ml-auto w-[40px] tabletp:ml-0"
        style="--color: #ffffff;"
        js-button=""
      >
        <svg class="icon icon-mute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
          <title>Speaker Icon, crossed out when muted</title>
          <path class="icon-mute-speaker" d="M19.51,0l-10,6.45H2.66V18.56H9.53l10,6.44ZM18.09,22.42l-7.64-4.93v-10l7.64-4.92ZM9,17.14h-5V7.86H9Z"></path>
          <path class="icon-mute-bar" d="M24,25l1-1L1,0,0,1Z"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
